<div class="container">
    <div class="card">

        <div id="header"> <!--header-->
            <h2><b><u>Welcome to Admin Dashboard:</u></b></h2>
        </div>

        <div class="row"> <!--Buttons Row started-->
            <div class="col"> <!--FIR data button-->
                <button type="button" class="btn btn-outline-dark btn-lg"
                aria-current="page" 
            routerLink="/FIRdata" routerLinkActive="active"
             ariaCurrentWhenActive="page">Registered FIR Data:</button>
            </div>

            <div class="col">  <!--contact data button-->
                <button type="button" class="btn btn-outline-dark btn-lg"
                aria-current="page" 
            routerLink="/contactdata" routerLinkActive="active"
             ariaCurrentWhenActive="page">Contact Form Data:</button>
            </div>
        </div> <!--Buttons Row ended-->

        
    </div>
</div>