<div id="mainform">
  <div class="jumbotron"> <!--Head line -->
    <h3><b><u>Maharashtra Police - Online Services for Citizen</u></b></h3>
    <p><i>Crime Tracking Online System</i></p>
  </div>
  
  <div class="container"> <!--Buttons line-->
    <div class="card">
  
      <div class="row"> <!--Buttons row started-->
        <div class="col"> <!--Home-->
          <button type="button" class="btn btn-outline-dark"
          aria-current="page" 
            routerLink="/home" routerLinkActive="active"
             ariaCurrentWhenActive="page">Home</button>
        </div>

        <div class="col"> <!--Contact us-->
          <button type="button" class="btn btn-outline-dark"
          aria-current="page" 
            routerLink="/contact" routerLinkActive="active"
             ariaCurrentWhenActive="page">Contact Us</button>
        </div>

        <div class="col"> <!--About us-->
          <button type="button" class="btn btn-outline-dark"
          aria-current="page" 
            routerLink="/about" routerLinkActive="active"
             ariaCurrentWhenActive="page">About Us</button>
        </div>

        <div class="col"> <!--FIR Registeration-->
          <button type="button" class="btn btn-outline-dark"
          aria-current="page" 
            routerLink="/user-login" routerLinkActive="active"
             ariaCurrentWhenActive="page">FIR Registeration</button>
        </div>
      </div> <!--Buttons row ended-->
  
    </div>
  </div>

   <app-caraousel></app-caraousel>


  <div id="line"> <!--Thanks line-->
    <h6><i>Thanks for trusting us !</i></h6>
  </div>


</div>