.container{
    padding: 20px 20px 20px 20px;
}
.row{
    padding: 20px 20px 20px 20px;
    text-align: center;
}
#mainform{
    padding: 20px 20px 20px 100px;
}
#line{
    padding-top: 20px;
    text-align: center;
}