<section class="about" id="about">
    <div class="container">
        <div class="heading text-center">
            <h2>About
                <span>Us</span></h2>
            <p>Maharashtra, the third largest State in Republic of India, has one of the largest police forces in the country.  <br>
                Maharashtra, a highly industrialized State with large urban conglomerates, has adopted Commissionerate system for policing its large  <br>
                cities. The State has 10 Commissionerates and 36 district police units. The motto of Maharashtra Police is “सद्ररक्षणाय खलनिग्रहणाय”. <br>
                It means that Maharashtra Police is committed to PROTECTING THE RIGHTOUS WHILE CONTROLLING & ANNIHILATING THE EVIL. <br>
                Maharashtra Police is headed by Director General of Police. The State police Head Quarter is located at Mumbai.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/about.jpg" alt="about" class="img-fluid" width="100%">
            </div>
            <div class="col-lg-6">
                <h3>Maharashtra Police</h3>
                <p>Special Units of Maharashtra Police Department </p>
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>Criminal Investigation Department (CID)</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>
                            State Intelligence Department</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>Anti-terrorism Squad</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>
                            Maharashtra Highway Police</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>State Reserve Police Force</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <i class="far fa-star"></i>
                            Training and Special Units</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>