<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="mailto:YourHealthCare@gmail.com" class="me-4 link-secondary">
          <i class="fa fa-envelope"></i>
      </a>
      <a href="tel:1234556987" class="me-4 link-secondary">
        <i class="fa fa-phone"></i>
      </a>
      <a href="https://goo.gl/maps/Ytuc5QeNVytX1Mf1A" class="me-4 link-secondary">
        <i class="fa fa-map-marker"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->


  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://MaharashtraPolice.com/">www.MaharashtraPolice.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->