<nav class="navbar">
  <div class="brand-title">Government of Maharashtra</div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a aria-current="page" 
            routerLink="/home" routerLinkActive="active"
             ariaCurrentWhenActive="page"><i class="fa fa-home"></i></a></li>

      <li><a aria-current="page" 
            routerLink="/admin-login" routerLinkActive="active"
              ariaCurrentWhenActive="page"><i class="fa fa-lock"></i></a></li>

      <li><a aria-current="page" 
        routerLink="/user-login" routerLinkActive="active"
         ariaCurrentWhenActive="page"><i class="fa fa-user"></i></a></li>

      <li><a aria-current="page" 
            routerLink="/contact" routerLinkActive="active"
             ariaCurrentWhenActive="page"><i class="fa fa-phone"></i></a></li>

      <li><a aria-current="page" 
            routerLink="/download" routerLinkActive="active"
              ariaCurrentWhenActive="page"><i class="fa fa-file-download"></i></a></li>


      <li><a aria-current="page" 
            routerLink="/notification" routerLinkActive="active"
              ariaCurrentWhenActive="page"><i class="fa fa-bell"></i></a></li>

      <li><a aria-current="page" 
        routerLink="/about" routerLinkActive="active"
         ariaCurrentWhenActive="page"><i class="fa fa-address-card"></i></a></li>


    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

